<!DOCTYPE html>
<html>
  <head>
    <title> Extracted Powerschool </title>
  </head>
  <body>
    <h1> Powerschool Pg {{page}} </h1>
    <style>
      * {
        background-color: #e2e3d3;
      }
      table {
        border: 1px solid #808080;
      }

      td {
        background-color: white;
        font-family: Georgia;
        border: 0;
      }
      th {
        background-color: #35353b;
        color: white;
        font-family: Georgia;
      }
    </style>
  </body>
</html>
